body {
  font-family: "Roboto", sans-serif;
}
.sprite {
  background: url("sprite.png") no-repeat top left;
  width: 22px;
  height: 27px;
}
.sprite.edit {
  background-position: 0 0;
}
.sprite.setting {
  background-position: -24px 0;
}
.sprite.add {
  background-position: -48px 0;
}

header.info > h1 {
  transform: scale(1, 1.5);
}
